doctype html
html(ng-app="myApp")
  head
    script( src="external/jquery-2.1.4.js")
    script( src="external/angular.js" )
    script( src="external/d3.js" )
    script( src="all.js" )
    link( rel="stylesheet" type="text/css" href="css/chart.css" )
    link( rel="stylesheet" type="text/css" href="css/result-suite.css" )
  body
    | {{ name }}
    div( ng-controller="ResultController" )
      result-suite( data="data_sets" )
      result-suite( data="data_sets" )
