div(id="detail-container")
  button(id="close" ng-click="$emit('close-details')") Close
  p Combination of {{ data().combined_count }} results.
  p Recorded {{ date_range() }}
  div
    p identities
    p {{ identity_data() }}
    
  pre {{ data() }}
