p
  button( ng-click="show_settings = !show_settings" )
    | settings
  view-editor( view="view" ng-init="show_settings = false" ng-show="show_settings" )
result-chart( data="view" range="range" on-selected="console.log('selected' + arguments.toString())" )
zoom-chart( data="view" range="range" )
