p(class="view-editor-container")
  button( ng-init="show_settings = false" ng-click="show_settings = !show_settings" ) Settings
  
  view-editor( view="view" ng-show="show_settings" )
  div(class="result-row")
    result-chart( data="view" range="range" selected="someCallback(arg1)" )
    detail-view(class="details" ng-show="show_details")
zoom-chart( data="view" range="range" )
