div(class="graph noselect" ng-class="{'graph_collapsed': !expanded}")
  div(class="title" ng-click="expanded = !expanded" ng-class="{'title_shown': expanded}") {{title}}
  div(id="svg_container")
  div(class="legend")
    div(class="legend_item" ng-repeat="(key, value) in keys" style="background-color: {{keys[key].colour}}")
      input(type="checkbox" ng-model="keys[key].show")
      | {{key}}

    p
      input(id="reset_zoom" type="button" value="Reset Zoom" ng-click="reset_x()")
