.result-suite {
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 15px;
  display: block;
  position:  relative;
  width:  80%;
  padding: 10px;
  margin: 5px;
}

.result-row {
  width: 100%;
  height: 400px;
  position: relative;
}

.result-chart {
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 100%;
  top:  0px;
  left: 0px;
}

.result-chart-minimised {
  width: 60%;
}

.result-chart-svg {
  width: 100%;
  height: 100%;
}

.details {
  display: inline-block;
  position: relative;
  left: 60%;
  width: 40%;
  height: 100%;
  background-color: white;
  border: 1px solid black;
}

.details #detail-container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.details #detail-container-contents {
  padding: 5px;
}

.details #close {
  float: right;
}

.details .identity_row {
  width: 100%;
  height: 15px;
  display: table;
  border: 1px solid darkgray;
  margin: 0px;
  margin-bottom: 5px;
  border-radius: 3px 0px 0px 3px;
  box-shadow: 2px 0px 4px #888888;
}

.details .label {

}

.details .identity_name {
  width: 20%;
  display: table-cell;
  border-right: 1px solid darkgray;
  background-color: darkgray;
  color: white;
  text-align: center;
  padding-left: 2px;
  padding-right: 1px;
  margin: 0px;
  /* height: 20px; */
}

.details .identity_value {
  display: table-cell;
  position: relative;
}

.details .percentage-item {
  font-size: x-small;
  font-family: sans-serif;
  position: absolute;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.details .data_section {

padding: 5px;}

.details .data_value {
  display: inline-table;
  border: 1px darkgray solid;
  border-radius: 3px 0px 0px 3px;
  margin: 1px;
  margin-right: 5px;
  box-shadow: 2px 0px 4px #888888;
}

.details .full_line_data_value {
  width: 100%;
}

.details .data_value .label {
  display: table-cell;
  border-right: 1px solid darkgray;
  background-color: darkgray;
  color: white;
  padding-right: 1px;
  padding-left: 2px;
  text-align: center;
  width: 45px;
}

.details .data_value .value {
  display: table-cell;
  padding-left: 1px;
  padding-right: 2px;
  font-size: x-small;
  font-family: sans-serif;
  text-align: center;
}

.details .label {
  font-size: x-small;
  font-family: sans-serif;
}

.zoom-chart {
  position: relative;
  width: 100%;
  height: 75px;
}

.window .extent {
  fill: black;
  fill-opacity: 0.25;
  stroke: white;
  stroke-width: 2px
}

.view-editor-container {
  position: relative;
}

.view-editor {
  background-color: white;
  border: 2px solid gray;
  border-radius: 4px;
  box-shadow: 0px 10px 30px #888888;
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 50px;
  font-family: sans-serif;
}

.view-editor p {
  padding: 3px;
  margin:  0px;
  clear: both;
}

.view-editor label {
  width: 70px;
  text-align: right;
  float: left;
  padding-right: 5px;
}

.view-editor select {
  width: 100px;
  text-align: right;
  float: right;
}
