html(ng-app="graphexp" lang="")
  head
    title Graph Experiment
    script(src = "lib/jquery/dist/jquery.js")
    script(src = "lib/angular/angular.js")
    script(src = "lib/angular-animate/angular-animate.js")
    script(src = "lib/angular-route/angular-route.js")
    script(src = "lib/d3/d3.js")
    script(src = "scripts/all.min.js")
    link(rel = "stylesheet", type = "text/css", href="stylesheets/main.css")
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
  body(ng-controller="mainController")

    div(class="centre_line")
        div(id="header")
          div(class="main_title") {{title}}
          div(class="description") {{data_source}}

        div(ng-repeat="val in graphs")
          graph(title="val.title", data="val.data", type="val.type", xrange="view_range", xrangemax="max_view_range", yformat="val.yformat")
