$font-stack:    Helvetica, sans-serif
$primary-color: #333

body
  font: 100% $font-stack
  color: $primary-color


.editable:hover
  background-color: #DDD

/* temporary workaround for display editable-bstime in bs3 - up/down symbols not shown */
.editable-bstime .editable-input i.icon-chevron-up:before
  content: '\e113'

.editable-bstime .editable-input i.icon-chevron-down:before
  content: '\e114'

.editable-bstime .editable-input i.icon-chevron-up,
.editable-bstime .editable-input i.icon-chevron-down
  position: relative
  top: 1px
  display: inline-block
  font-family: 'Glyphicons Halflings'
  -webkit-font-smoothing: antialiased
  font-style: normal
  font-weight: normal
  line-height: 1

body
  font-size: 8pt
  font-family: 'Montserrat', sans-serif
  background-color: #F3F1E5

.noselect
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently not supported by any browser */

.axis path,
.axis line
  fill: none
  stroke: #000
  shape-rendering: crispEdges

.pointer_location
  stroke-width: 2
  stroke: black


.pointer_selection
  fill: rgba(0, 0, 0, 0.2)
  stroke: transparent

.line_label
  text-anchor: end

#header
    position: relative
    left: -600px
    width: 1200px
    height: 50px
    padding-top: 10px

#header .main_title
  float: left
  font-size: xx-large
  font-weight: bold
  padding-left: 20px

#header .description
  float: right
  font-size: large
  padding-right: 20px
  padding-top: 5px

#header .time_range
  float: right
  clear: both
  font-size: small
  padding-right: 20px
  padding-bottom: 20px

.centre_line
  position: relative
  left: 50%

.graph
  position: relative
  left: -600px
  width: 1200px
  border: 1px rgba(0, 0, 0, 0.05) solid
  box-shadow: 0px 10px 0px -5px rgba(86, 52, 17, 0.15)
  background-color: white
  border-radius: 2px
  overflow: hidden
  padding-left: 0px
  margin-bottom: 15px
  transition: all 0.2s cubic-bezier(1.000, 0.000, 0.000, 1.000)
  height: 560px

.graph_collapsed
  height: 43px

.graph .title
  font-weight: bold
  font-size: x-large
  padding-top: 10px
  padding-bottom: 10px
  padding-left: 50px
  margin-right: 5px
  width: 1100px
  border-bottom: 5px solid rgba(0, 0, 0, 0.1)
  box-shadow: 0px 20px 30px -15px lightgray
  padding-bottom: 5px
  margin-bottom: 5px

.legend
  position: absolute
  top: 44px
  left: 1027px
  float: right
  width: 150px
  border: 1px solid rgba(0, 0, 0, 0.1)
  padding: 5px
  border-radius: 0px 0px 3px 3px
  background-color: white
  box-shadow: 0px 10px 30px -10px darkgray
  opacity: 1

.legend #reset_zoom
  width: 100%

.legend_item
  border-radius: 3px
  margin-bottom: 2px

#svg_container
  float: left
